/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

*{
  border-radius: 0 !important;
}

*::selection {
    /*background-color: #9f9f9f;*/
   /* background-color: rgba(252, 238, 48, 1);
    color: #000;*/
   /* background: #000;
    color: #fff;*/
    background: #ffbfbb;
    color: #232828;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #606060;
}

::-webkit-scrollbar-track {
    background-color: #2d2d2d;
    border-left: 1px solid #2d2d2d;
}

@font-face {
    font-family: VCR;
    src: url("/font/VCR_OSD_MONO.ttf");
}

@font-face {
    font-family: YeezyB;
    src: url("/font/yeezy_tstar-bold-webfont.ttf");
}
@font-face {
    font-family: YeezyR;
    src: url("/font/yeezy_tstar-regular-webfont.ttf");
}
@font-face {
    font-family: BaltoLight;
    src: url("/font/BaltoLight.otf");
}
@font-face {
    font-family: BaltoThin;
    src: url("/font/BaltoThin.otf");
}
@font-face {
    font-family: stag;
    src: url("/font/STAGSANS-LIGHT.OTF");
}

.splashname {
  padding: 8px;
}

body {
  margin:0px; 
  padding:0px;
/*  background: -webkit-linear-gradient(330deg, #17bebb, #f0a6ca);
  background: linear-gradient(120deg, #17bebb, #f0a6ca); */
/*  background-color: rgba(253,100,103,1);*/
/*  background-image: url(/img/pattern.gif);*/
/*  background-color: rgba(255,255,255,1);*/
/*  background-color: rgba(189,197,201,1);*/
 /* background-color: rgba(150,150,150,1);*/
  background-color: rgba(76,76,76,1);
 /* background-image: url('https://images.unsplash.com/photo-1433190152045-5a94184895da?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1920&h=1280&q=80');*/
/*  background-color: rgba(238,237,233,1); */
  color: rgba(29,29,27,1);
  }


h1, h2, h3, h4, h5 { 
  font-weight: 400; 
  font-family: "YeezyR", serif; 
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  /*color: #fff;*/
}
h1 { font-size: 72px; color: #fff; }
h2 { font-size: 40px; font-weight: 400; color: #fff; }
h3 { 
/*  background-color: #000;
  color: #fff;*/
/*  font-size: 28px;*/
  color: #000;
/*  font-family: "acta-poster";
  font-style: italic;*/
  font-weight: 400;
  font-family: "OSWALD";
}
h4 {
  color: #fff;
}

p {
/*  font-family:'Rajdhani';*/
 /* font-family: 'Stag';*/
/*  font-weight: 500;*/
  
  font: "Roboto Mono",Helvetica,sans-serif;
  word-wrap: break-word;
/*  color: #000;*/
  font-weight: 350;
 /* max-height: 100px;*/
/*  overflow: auto;*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

p2 {
  font-family: "YeezyB";
  color: #fff;
}

.weather {
  font-family: "Helvetica";
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 16px;
  background: transparent;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}


html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

.cover {
  font-size: 20px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #90BEC0;
  z-index: -1;
  opacity: 0.8;
  @include transition-property(left);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-out);
  .sec {
    opacity: 0.6;
    display: block;
  }
}

.profile {
  min-width: 240px !important;
}

.search {
  margin-left: 10px;
  max-width: 200px;
}

.jumbotron {
 /* padding:100px 0 130px 0;*/
  background: #000;
  min-height: 100%;
}

.overlay {
    position: absolute;
    width: 100% !important;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
/*    background: rgba(0,0,0,1);*/
    /*background: linear-gradient(to right, #5D4157 , #A8CABA);*/
   /* background-image: radial-gradient(circle, #34a4ca 0%, #d0f8ef 70%, #d6f6e1 100%);*/
/*     background: linear-gradient(to right, #D24335 55%, #6E4CD2);
        opacity: .5;*/
  /*  background: radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756);*/
   /* background: linear-gradient(135deg, #34a4ca 0%, #59d7dd 28%, #a8f2f0 59%, #d0f8ef 84%, #d6f6e1 100%);*/
    background-image: url('https://images.unsplash.com/photo-1440492248262-6895f9da82fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b55bcaa28b217821a149f4d2479a1f59');
  
    z-index: 10;
  }

.navigation {
    position: fixed;
    top: 255px;
    right: -112px;
    z-index: 99999;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.site_header {
    color: #282828;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 20px;
    text-rendering: optimizeLegibility;
}

.back{
height:100%;
pointer-events:none;
}
.back *{
@include transition(all 1.0s ease);
}

@-webkit-keyframes STAR-MOVE {
  from {
    background-position: 5% 5%
  }
  to { 
    background-position: -1300% 0%
  }
}

.background {
  background: transparent url(/img/background.png) repeat 5% 5%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -100;
  -webkit-animation: STAR-MOVE 200s linear infinite;
}
.fast .background{
  -webkit-animation: STAR-MOVE 10s linear infinite;
}

.midground {
  background: url(/img/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 200; 
  -webkit-animation: STAR-MOVE 150s linear infinite;
}
.fast .midground{
  -webkit-animation: STAR-MOVE 7.5s linear infinite;
}
.foreground {
  background: url(/img/foreground.png) repeat 35% 35%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 300;
    -webkit-animation: STAR-MOVE 100s linear infinite;
}
.fast .foreground{
  -webkit-animation: STAR-MOVE 5.0s linear infinite;
}

.shadow{
display: block;
position: relative;
width: 80px;
height: 8px;
background: rgba(87, 168, 184, 0.57);
top: 60px;
border-radius: 10px;
left: 5%;
  @include transition(all 1.0s ease);
opacity: 0.75;
  -webkit-filter:blur(0px);  
}


.navbar-right {
  margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

a {
  cursor: pointer;
} 

/*a:visited {
  color: #fff !important;
}*/

.default {
/*  background-color: rgba(252, 238, 48, 1);*/
 /* background-color: rgba(237,73,86,1) !important;*/
  background: transparent;
}

#red {
  /*color: #fff;*/
 /* background: rgba(244,137,137,1);*/
 /*background: rgba(253,100,103,1);*/
/*  background: rgba(242,93,95,1);*/
  background: rgba(247,73,86,1);
 /*  animation: pulsate 3s infinite;*/
 /* -webkit-animation: blinker 1s infinite;
          animation: blinker 1s infinite;*/
}

#blue {
  /*background: rgba(120,196,170,1);*/
  background: rgba(169,216,200,1);
}

#yellow {
  background-color: rgba(250,215,123,1);
}

nav.navbar {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
/*  background: transparent;*/
  background: rgba(0,0,0,1);
  margin: 0;
  -webkit-text-shadow: none;
  text-shadow: none;
  box-shadow: none;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

nav.navbar.shrink {
  min-height: 10px;
}

.navbar-fixed-bottom{
    border-width: 0 0 1px;
    position: fixed;
    left: 0;
    z-index: 9999;
    width: 100%;
    min-height: 10px;
    height: 40px;
/*    background: transparent;*/
    background: rgba(0,0,0,1);
    margin: 0;
    -webkit-text-shadow: none;
    text-shadow: none;
    box-shadow: none;
     -webkit-transition: all 0.4s ease;
     transition: all 0.4s ease;
}

.dashboardsearch {
  min-width: 230px;
  margin-top: -90px;
/*  height: auto !important;*/
  background: rgba(242,239,235, 1); 
/*  padding-top: 20px;*/
 /* max-width: 290px;*/
  max-width: 230px;
 /* margin-left: 898px;*/
  /*padding-bottom: 20px;*/
  /*border-bottom: 3px solid #000;*/
}



.container {
  margin-top: 100px;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}

svg.close-btn {
    /*position: absolute;*/
 /*   margin-top: 5px;
    margin-right: 5px;*/
    top: 0;
    right: 0;
    z-index: 2;
    box-sizing: content-box;
    border: 0.8px solid rgba(0,0,0,0.9);
    background-color: rgba(0,0,0,1);
    cursor: pointer;
}

.card {
   /* max-width: 30rem;*/
    border-radius: 20px;
    min-width: 230px;
    max-width: 770px;
    position: relative;
    padding: 10px 10px 30px;
    margin: 20px;
 /*   background: #efe7e0;*/
 /*   background: rgba(255,255,255, 1); */
    background: rgba(242,239,235, 1); 
   /* max-height: 300px;
    overflow:scroll;*/
/*    border: 2px solid rgba(0,0,0,0.9);*/
    font-family: Helvetica, sans-serif;
    border-bottom: 3px solid #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
   /* border-radius: 1px;*/
   /* box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);*/
   /* cursor: pointer;*/
    -webkit-transition: all 0.3s 0.2s ease-out;
    transition: all 0.3s 0.2s ease-out;

     -webkit-transform: scale(1);
          transform: scale(1);
     -webkit-animation: bounceOut 0.4s;
          animation: bounceOut 0.4s;

}


.card:hover {
  /*background: rgba(200,200,200,0.7);*/
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0,0,0,.8);
/*  -webkit-animation: bounceIn 0.5s;
          animation: bounceIn 0.5s;*/
 /*   transform: translateY(-10px) scale(1.02);*/
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  90% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  90% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.card-date {
    position: absolute;
    bottom: 9px;
    left: -10px;
    padding: 4px 8px;
    background: #000;
    color: #fff;
    font-family: 'YeezyB';
   /* -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);*/
}

.card-date:after {
    content: '';
    display: block;
    height: 20px;
    width: 8px;
    position: absolute;
    top: 31px;
    left: 0px;
    background: transparent;
    z-index: 1;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
}
.card-name {
    position: absolute;
    bottom: 13px;
    left: -10px;
    padding: 4px 8px;
    background: #000;
    color: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.card-name:after {
    content: '';
    display: block;
    height: 20px;
    width: 8px;
    position: absolute;
    top: 34px;
    left: 0px;
    background: transparent;
    z-index: 1;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
}

#ribbon {
  font-family: "Oswald";
  padding: 0 0 10px 0;
  position: absolute;
  right: 0.25em;
  top: -0.25em;
  width: 20px;
}
#ribbon div {
  background: #000;
/*  background: #bb3a34;
  background: linear-gradient(#e74841 0%, #bb3a34 100%);*/
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
#ribbon div:after {
/*  border-left: 10px solid #000;
  border-right: 10px solid #000;*/
 /* border-right: 20px solid #000;*/
 /* border-left: 20px solid #bb3a34;
  border-right: 20px solid #bb3a34;*/
  border-bottom: 10px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}


.button.active {
            color: rgba(255,255,255,1);
        }


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fade {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.logo {
    left: 50%;
    top: 50%;

}

.modal-body {
    font-family:"vcr";
    margin-top: 20px;
    position: relative;
    padding: 15px;
}

.modal-content {
    font-family:"vcr";
    margin-top: 80px;
    position: relative;
    padding: 15px;
}

.btn {
  font-size: 11px;
  box-shadow: none !important;
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,1);
  margin: 1px 1px 1px 1px;
  min-width: 100px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #ff5277;
}


.center{
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.ion-plus:hover {
  color: #ff5277; 
}

.neon {
  font-family: 'VCR';
 /* font-family: 'helvetica', sans-serif;*/
  letter-spacing: 4px;
  font-size: 1.8em;
  display: inline-block;
 /* color: #ff5277 !important;*/
  color: #fff !important;
  text-align: center;
  padding: .75em 1em;
  border: 3px solid #fff;
/*  border: 3px solid #ff5277;*/
  border-radius: 3px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  /*box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3), inset 0 0 4px 2px rgba(0, 0, 0, 0.3);*/
  line-height: .9;
  opacity: .9;
  -webkit-animation: blinker 1s infinite;
          animation: blinker 1s infinite;
  cursor: pointer;
}
.neon:after,
.neon:before {
  top: 23%;
  content: 'PE\A CK';
  position: absolute;
  left: 29%;
  white-space: pre;
}
.neon:after {
  color: #fff;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 1;
}
.neon:before {
  color: #ff5277;
  -webkit-filter: blur(24px);
          filter: blur(24px);
  z-index: -2;
}

.navbar-brand {
  font-family: 'YeezyB', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  color: #fff !important;
  text-align: center;
  padding: .75em 1em;
/*  border: 3px solid #ff5277;
  border-radius: 3px;*/
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  margin-top: 5px;
  margin-left: 5px;
  /*box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3), inset 0 0 4px 2px rgba(0, 0, 0, 0.3);*/
  line-height: .9;
  opacity: .9;
  -webkit-animation: blinker 1s infinite;
          animation: blinker 1s infinite;
}

.navbar-brand:after,
.navbar-brand:before {
  top: 18%;
  /*content: 'PECK\A BOX';*/
  position: absolute;
  left: 23%;
  white-space: pre;
}
.navbar-brand:after {
  color: #fff;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 1;
}
.navbar-brand:before {
  color: #ff5277;
  -webkit-filter: blur(24px);
          filter: blur(24px);
  z-index: -2;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity:1;
  }
  50% {
    transform: scale(1.02);
    opacity:1;
  }
  100% {
    transform: scale(1);
    opacity:1;
  }
}

@-webkit-keyframes blinker {
  0%,
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
}
@keyframes blinker {
  0%,
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
}

.code {
  min-height: 50vh;
  border: 0;
  outline: 0;
  counter-reset: code;
  background-color: transparent;
  overflow-y: auto;
  /*box-shadow: inset 50px 0 #42b0ff, inset 51px 0 #61bdff;*/
}
.code span {
  height: 25px;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 25px;
}
.code span:first-child {
/*  border: 0;*/
}
.code span:before {
  counter-increment: code;
  content: counter(code,decimal-leading-zero);
  float: left;
  width: 40px;
 /* padding: 0 5px;*/
  margin-right: 10px;
  display: inline-block;
  box-shadow: inset 0 -1px #000;
  font-size: 8pt;
  font-weight: bold;
  text-align: right;
}


/*

.fade {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
*/

/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
html, body {
  margin: 0;
  padding: 0;
  color: #eaeaea;
  overflow: hidden;
  background: teal;
  font-family: "Oswald";
}*/

#search {
  max-width: 250px;
  color: #ff5277;
}

.clock {
  font-family: "Yeezyb";
  position: relative;
/*  right: 60px;*/
  text-align: center;
  color: #fff;
  font-size: 16px;
 /* text-shadow: 1px 1px 0px #ca0000,1px 1px 0px #ca0000,2px 2px 0px #c90000,2px 2px 0px #c90000,3px 3px 0px #c70000,3px 3px 0px #c70000,4px 4px 0px #c50000,4px 4px 0px #c50000,5px 5px 0px #c40000,5px 5px 0px #c40000,6px 6px 0px #c20000,6px 6px 0px #c20000,7px 7px 0px #c10000,7px 7px 0px #c10000,8px 8px 0px #bf0000,8px 8px 0px #bf0000,9px 9px 0px #bd0000,9px 9px 0px #bd0000,10px 10px 0px #bc0000,10px 10px 0px #bc0000,11px 11px 0px #ba0000,11px 11px 0px #ba0000,12px 12px 0px #b80000,12px 12px 0px #b80000,13px 13px 0px #b70000,13px 13px 0px #b70000,14px 14px 0px #b50000,14px 14px 0px #b50000,15px 15px 0px #b40000,15px 15px 0px #b40000,16px 16px 0px #b20000,16px 16px 0px #b20000,17px 17px 0px #b00000,17px 17px 0px #b00000,18px 18px 0px #af0000,18px 18px 0px #af0000,19px 19px 0px #ad0000,19px 19px 0px #ad0000,20px 20px 0px #ab0000,20px 20px 0px #ab0000,21px 21px 0px #aa0000,21px 21px 0px #aa0000,22px 22px 0px #a80000,22px 22px 0px #a80000,23px 23px 0px #a60000,23px 23px 0px #a60000,24px 24px 0px #a50000,24px 24px 0px #a50000,25px 25px 0px #a30000,25px 25px 0px #a30000,26px 26px 0px #a20000,26px 26px 0px #a20000,27px 27px 0px #a00000,27px 27px 0px #a00000,28px 28px 0px #9e0000,28px 28px 0px #9e0000,29px 29px 0px #9d0000,29px 29px 0px #9d0000,30px 30px 0px #9b0000,30px 30px 0px #9b0000,31px 31px 0px #990000,31px 31px 0px #990000,32px 32px 0px #980000,32px 32px 0px #980000,33px 33px 0px #960000,33px 33px 0px #960000,34px 34px 0px #950000,34px 34px 0px #950000,35px 35px 0px #930000,35px 35px 0px #930000,36px 36px 0px #910000,36px 36px 0px #910000,37px 37px 0px #900000,37px 37px 0px #900000,38px 38px 0px #8e0000,38px 38px 0px #8e0000,39px 39px 0px #8c0000,39px 39px 0px #8c0000,40px 40px 0px darkred,40px 40px 0px darkred,41px 41px 0px #890000,41px 41px 0px #890000,42px 42px 0px #870000,42px 42px 0px #870000,43px 43px 0px #860000,43px 43px 0px #860000,44px 44px 0px #840000,44px 44px 0px #840000,45px 45px 0px #830000,45px 45px 0px #830000,46px 46px 0px #810000,46px 46px 0px #810000,47px 47px 0px #7f0000,47px 47px 0px #7f0000,48px 48px 0px #7e0000,48px 48px 0px #7e0000,49px 49px 0px #7c0000,49px 49px 0px #7c0000,50px 50px 0px #7a0000,50px 50px 0px #7a0000,51px 51px 0px #790000,51px 51px 0px #790000,52px 52px 0px #770000,52px 52px 0px #770000,53px 53px 0px #760000,53px 53px 0px #760000,54px 54px 0px #740000,54px 54px 0px #740000,55px 55px 0px #720000,55px 55px 0px #720000,56px 56px 0px #710000,56px 56px 0px #710000,57px 57px 0px #6f0000,57px 57px 0px #6f0000,58px 58px 0px #6d0000,58px 58px 0px #6d0000,59px 59px 0px #6c0000,59px 59px 0px #6c0000,60px 60px 0px #6a0000,60px 60px 0px #6a0000,61px 61px 0px #680000,61px 61px 0px #680000,62px 62px 0px #670000,62px 62px 0px #670000,63px 63px 0px #650000,63px 63px 0px #650000,64px 64px 0px #640000,64px 64px 0px #640000,65px 65px 0px #620000,65px 65px 0px #620000,66px 66px 0px #600000,66px 66px 0px #600000,67px 67px 0px #5f0000,67px 67px 0px #5f0000,68px 68px 0px #5d0000,68px 68px 0px #5d0000,69px 69px 0px #5b0000,69px 69px 0px #5b0000,70px 70px 0px #5a0000,70px 70px 0px #5a0000,71px 71px 0px #580000,71px 71px 0px #580000,72px 72px 0px #560000,72px 72px 0px #560000,73px 73px 0px #550000,73px 73px 0px #550000,74px 74px 0px #530000,74px 74px 0px #530000,75px 75px 0px #520000,75px 75px 0px #520000,76px 76px 0px #500000,76px 76px 0px #500000,77px 77px 0px #4e0000,77px 77px 0px #4e0000,78px 78px 0px #4d0000,78px 78px 0px #4d0000,79px 79px 0px #4b0000,79px 79px 0px #4b0000,80px 80px 0px #490000,80px 80px 0px #490000,81px 81px 0px #480000,81px 81px 0px #480000,82px 82px 0px #460000,82px 82px 0px #460000,83px 83px 0px #450000,83px 83px 0px #450000,84px 84px 0px #430000,84px 84px 0px #430000,85px 85px 0px #410000,85px 85px 0px #410000,86px 86px 0px #400000,86px 86px 0px #400000,87px 87px 0px #3e0000,87px 87px 0px #3e0000,88px 88px 0px #3c0000,88px 88px 0px #3c0000,89px 89px 0px #3b0000,89px 89px 0px #3b0000,90px 90px 0px #390000,90px 90px 0px #390000,91px 91px 0px #370000,91px 91px 0px #370000,92px 92px 0px #360000,92px 92px 0px #360000,93px 93px 0px #340000,93px 93px 0px #340000,94px 94px 0px #330000,94px 94px 0px #330000,95px 95px 0px #310000,95px 95px 0px #310000,96px 96px 0px #2f0000,96px 96px 0px #2f0000,97px 97px 0px #2e0000,97px 97px 0px #2e0000,98px 98px 0px #2c0000,98px 98px 0px #2c0000,99px 99px 0px #2a0000,99px 99px 0px #2a0000,100px 100px 0px #290000,100px 100px 0px #290000,101px 101px 0px #270000,101px 101px 0px #270000,102px 102px 0px #260000,102px 102px 0px #260000,103px 103px 0px #240000,103px 103px 0px #240000,104px 104px 0px #220000,104px 104px 0px #220000,105px 105px 0px #210000,105px 105px 0px #210000,106px 106px 0px #1f0000,106px 106px 0px #1f0000,107px 107px 0px #1d0000,107px 107px 0px #1d0000,108px 108px 0px #1c0000,108px 108px 0px #1c0000,109px 109px 0px #1a0000,109px 109px 0px #1a0000,110px 110px 0px #180000,110px 110px 0px #180000,111px 111px 0px #170000,111px 111px 0px #170000,112px 112px 0px #150000,112px 112px 0px #150000,113px 113px 0px #140000,113px 113px 0px #140000,114px 114px 0px #120000,114px 114px 0px #120000,115px 115px 0px #100000,115px 115px 0px #100000,116px 116px 0px #0f0000,116px 116px 0px #0f0000,117px 117px 0px #0d0000,117px 117px 0px #0d0000,118px 118px 0px #0b0000,118px 118px 0px #0b0000,119px 119px 0px #0a0000,119px 119px 0px #0a0000,120px 120px 0px #080000,120px 120px 0px #080000,121px 121px 0px #070000,121px 121px 0px #070000,122px 122px 0px #050000,122px 122px 0px #050000,123px 123px 0px #030000,123px 123px 0px #030000,124px 124px 0px #020000,124px 124px 0px #020000,125px 125px 0px black,125px 125px 0px black;*/
}

.hour {
/*  margin-bottom: -80px;*/
}

.minutes {
 /* letter-spacing: 2px;*/
/*  margin-left: 20px;*/
  /*margin-bottom: -35px;*/
}

.seconds {
  letter-spacing: 2px;
/*  margin-left: 50px;*/
}

.week {
  font-family: "Yeezyb";
  position: absolute;
  top: 20px;
  right: 0;
  width: 100vw;
/*  padding: 5px 10px;*/
  font-size: 16px;
  background: transparent;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.week div {
  display: inline-block;
}
.week .day {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 5px;
}

/*input.form-control {
    border: 1px solid #000 !important;
    padding-left: 20px;
    box-shadow: inset 0 -1px 0 #000 !important;
}
*/
input.form-control:focus {
    box-shadow: inset 0 -2px 0 #000 !important;
}

textarea.form-control:focus {
    box-shadow: inset 0 -2px 0 #000 !important;
}

a {
  color: #ff5277;
  text-decoration: none;
  transition-duration: .3s;
}
a:hover {
  color: #000;
  transition-duration: .05s;
  text-decoration: none;
}

#footer {
  margin-bottom:20px;
}

/* bootstrap overrides */



.navbar-toggle, .close {
  outline:0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
  background-color:#3B5999;
    color:#fffffe;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control {
     color: #000;
   font-size: 13px !important;
}


.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
  
.badge{
   color:#000;
   background-color: transparent;
   float: right;
}
/*.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}*/
    
.jumbotron {
  background-color: transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#555555;
}

.col-sm-9.full {
    width: 100%;
}


small.text-muted {
  font-family:courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
  padding-top:20px;
  }

  .navbar-black {
  background-color:#000;
    top:0;
    width:100%;
    position:relative;
  }

}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 20%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -20%;
    position: absolute;
    top: 0;
    width: 20%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}



.profilePicture {
  margin-left: 10px;
  margin-top: 10px;
}

.map {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 770px;
  min-width: 200px;
}

.eventMap{
  mid-width: 200px;
}
.dashboardmap {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 230px;
}

.showmap {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px;
  max-width: 770px;
  min-width: 200px;
}

.adp-step, .adp-substep{
  font-size: 11px;
}

.dashboard {
  min-width: 230px;
  margin-top: -90px;
  height: auto !important;
  background: rgba(242,239,235, 1); 
  padding-top: 20px;
 /* max-width: 290px;*/
  max-width: 230px;
  margin-left: 898px;
  padding-bottom: 20px;
  border-bottom: 3px solid #000;
}

#tabs-card {
  max-width: 508px;
}

#directions-panel {
  color: #000;
}

/*.imSoSticky, .heightAuto{*/

/*  height: auto !important;
  background-color: rgba(255,255,255,1);
  padding-top: 20px;
 /* max-width: 290px;*/
/*  max-width: 223px;
  margin-left: 20px;
  padding-bottom: 20px;*/
/*}*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #profile { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  #profile { display: none; }   /* hide it elsewhere */
  #imSoSticky {display: none;}
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    font-family: "Oswald";
    font-size: 18px;
    float: left;
    /*border: 1px solid #000;*/
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
  /*  background-color: #CCC;
    color: #696969;*/
}
#mainView {
   /* border: 1px solid black;*/
  clear: both;
  padding: 0 1em;
}
.active {
    background-color: #000;
    color: #fff;
}



/* NAVBAR */
/*.menu {
  background: rgba(255, 255, 255, 0.0);
}*/

.menu-item, 
.menu-open-button {
  background-color: rgba(0,0,0,1);
  border-radius: 50% !important;
  width: 3em;
  height: 3em;
  margin-left: -40px;
  position: fixed;
  top: 80%;
  color: white;
  text-align: center;
  line-height: 3em;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 300ms;
          transition: transform ease-out 300ms;
}

.menu-item:visited {
  color: rgba(255,255,255,1);
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 4px;
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 300ms;
          transition: transform 300ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-nav {
  position: fixed;
  left: 95%;
  margin-left: 0;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  z-index: 9999;
}

.menu-item:hover {
/*  background: linear-gradient(135deg, #000, #000);*/
  color: #ff5277;
/*  color: rgba(245, 245, 245, 0.80);*/
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(1.0, 1.0) translate3d(0, 0, 0);
          transform: scale(1.0, 1.0) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(0.75, 0.75) translate3d(0, 0, 0);
          transform: scale(0.75, 0.75) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transform: translate3d(0, -75px, 0);
          transform: translate3d(0, -75px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translate3d(0, -225px, 0);
          transform: translate3d(0, -225px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, -300px, 0);
          transform: translate3d(0, -300px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, -375px, 0);
          transform: translate3d(0, -375px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, -450px, 0);
          transform: translate3d(0, -450px, 0);
}

/*.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}*/

/*@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
*/