/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

*{
  border-radius: 0 !important;
}

body {
  margin:0px; 
  padding:0px;
  background: -webkit-linear-gradient(330deg, #17bebb, #f0a6ca);
  background: linear-gradient(120deg, #17bebb, #f0a6ca); 
  /*background-color: rgba(238,237,233,1); */
  color: rgba(29,29,27,1);
  }


h1, h2, h3, h4, h5 { 
  font-weight: 400; 
  font-family: "Open Sans", serif; 
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 { font-size: 72px; }
h2 { font-size: 36px; font-weight: 400; }
h3 { color: #000;}

.diagonal-bg {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.jumbotron {
  padding:100px 0 130px 0;
  background: #000;
}

.navbar-right {
  margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

a {
  cursor: pointer;
}

.navbar {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,1);
  margin: 0;
  -webkit-text-shadow: none;
  text-shadow: none;
}


.container {
  margin-top: 100px;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}


p {
  word-wrap: break-word;
}

.card {
   /* max-width: 30rem;*/
    position: relative;
    padding: 10px 10px 30px;
    margin: 20px;
    background: rgba(255,255,255, 0.3); 
  /*  background: rgba(235,231,227, 0.9); */
   /* border: 2px solid rgba(255,255,255,0.9);*/
    font-family: Helvetica, Arial;
    cursor: pointer;
    -webkit-transition: all 0.3s 0.2s ease-out;
    transition: all 0.3s 0.2s ease-out;
}
.card-date {
    position: absolute;
    bottom: 9px;
    left: -10px;
    padding: 4px 8px;
    background: #000;
    color: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.card-date:after {
    content: '';
    display: block;
    height: 20px;
    width: 8px;
    position: absolute;
    top: 31px;
    left: 0px;
    background: transparent;
    z-index: 1;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
}

.start{
    background: linear-gradient(135deg, #44c8a0, #71b685); 
/*    background-color: rgba(157,218,158,0.9);*/
    border: 2px solid rgba(157,218,158,0.9);
    color: #fff;
}

.done{
    background: linear-gradient(135deg, #ce4564, #fb3349); 
  /*  background-color: rgba(233,97,81,0.9);*/
    border: 2px solid rgba(233,97,81,0.9);
    color: #fff;
}

.button.active {
            color: yellow;
        }

.button.start{
  background: linear-gradient(135deg, #44c8a0, #71b685); 
 /* background-color: rgba(157,218,158,0.9);*/
/*  border: 2px solid rgba(157,218,158,0.9);*/
  color: #fff;
}

.button.done{
  background: linear-gradient(135deg, #ce4564, #fb3349); 
 /* background-color: rgba(233,97,81,0.9);*/
  /*border: 2px solid rgba(233,97,81,0.9);*/
  color: #fff;
}


.start {
      background: linear-gradient(135deg, #44c8a0, #71b685); 
  /*    background-color: rgba(157,218,158,0.9);*/
      border: 2px solid rgba(157,218,158,0.9);
      color: #fff;
}

.done {
    background: linear-gradient(135deg, #ce4564, #fb3349); 
  /*  background-color: rgba(233,97,81,0.9);*/
    border: 2px solid rgba(233,97,81,0.9);
    color: #fff;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fade {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}


.neon {
  font-family: 'helvetica', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  color: #ff5277 !important;
  text-align: center;
  padding: .75em 1em;
  border: 3px solid #ff5277;
  border-radius: 3px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3), inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
  line-height: .9;
  opacity: .9;
  -webkit-animation: blinker 1s infinite;
          animation: blinker 1s infinite;
}
.neon:after,
.neon:before {
  top: 22%;
  content: 'TB\AOX';
  position: absolute;
  left: 29%;
  white-space: pre;
}
.neon:after {
  color: #fff;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 1;
}
.neon:before {
  color: #ff5277;
  -webkit-filter: blur(24px);
          filter: blur(24px);
  z-index: -2;
}

.navbar-brand {
  font-family: 'helvetica', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  color: #ff5277 !important;
  text-align: center;
  padding: .75em 1em;
/*  border: 3px solid #ff5277;
  border-radius: 3px;*/
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  margin-top: 5px;
  margin-left: 5px;
  /*box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3), inset 0 0 4px 2px rgba(0, 0, 0, 0.3);*/
  line-height: .9;
  opacity: .9;
  -webkit-animation: blinker 1s infinite;
          animation: blinker 1s infinite;
}

.navbar-brand:after,
.navbar-brand:before {
  top: 19%;
  content: 'TB\AOX';
  position: absolute;
  left: 29%;
  white-space: pre;
}
.navbar-brand:after {
  color: #fff;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 1;
}
.navbar-brand:before {
  color: #ff5277;
  -webkit-filter: blur(24px);
          filter: blur(24px);
  z-index: -2;
}

@-webkit-keyframes blinker {
  0%,
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
}
@keyframes blinker {
  0%,
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
}


/*

.fade {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
*/


