
<div class="container">
  <div class="dashboard">
  <div class="search">
          <label for="Search">Search</label>
          <input type="text" ng-model="search" placeholder="Search" class="form-control">
        </div>
  </div>
  <div class="row">
  <div class="none" ng-controller="PostsCtrl">
    <div class="col-sm-3">
      <div class="card profile hidden-xs">
          <img src="{{user.picture}}" alt="" class="profilePicture">
          <div class="card-name"><h4>{{user.displayName}}</h4></div>
      </div>
    
      <div ng-repeat="post in user.posts | filter:search">
      
         <div class="col-sm-11 card fade" id="{{post.color}}">
           <div ng-hide="post.editForm">
               <div class="card-date">{{post.created_at | date: 'MMMM d @ h:mma'}}</div>
                <h3>{{post.title}}</h3>
                <p>{{post.body}}</p>

                  

                 <div style="float:right">
                 <svg height="14" width="14" value="default" ng-model="post.color" ng-click="test(post, 'default')">
                 <rect x="2" y="2" height="10" width="10" fill="rgba(242,239,235, 1)" stroke="#000" stroke-width="2"></rect>
                 </svg>
                 <svg height="14" width="14" value="blue" ng-model="post.color" ng-click="test(post, 'blue')">
                 <rect x="2" y="2" height="10" width="10" fill="rgba(169,216,200,1)" stroke="#000" stroke-width="2"></rect>
                 </svg>
                 <svg height="14" width="14" value="yellow" ng-model="post.color" ng-click="test(post, 'yellow')">
                 <rect x="2" y="2" height="10" width="10" fill="rgba(250,215,123,1)" stroke="#000" stroke-width="2"></rect>
                 </svg>
                 <svg height="14" width="14" value="red" ng-model="post.color" ng-click="test(post, 'red')">
                 <rect x="2" y="2" height="10" width="10" fill="rgba(237,73,86,1)" stroke="#000" stroke-width="2"></rect>
                 </svg>
                 <svg height="14" width="14" ng-click="post.editForm = true">
                 <rect x="2" y="2" height="10" width="10" fill="rgba(0,0,0,1)" stroke="#000" stroke-width="2"></rect>
                 <line y2="2" x2="12" y1="12" x1="2" stroke-width="1.2" stroke="#fff"></line>
                 </svg>
                 </div>

                 <button class="btn btn-social" ng-click="postShow(post)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                 </button>

           </div>


             <form ng-show="post.editForm" ng-submit="updatePost(post)">
               <div class="form-group">
                 <input type="text" ng-model="post.title" class="form-control">
               </div>
               <div class="form-group">
                 <input type="text" ng-model="post.body" class="form-control">
               </div>
               <input type="submit" value="Update" class="btn btn-default">
             </form>

           
         </div>
         <!--- safdjasdklfj kl-->
        <!-- <div ng-repeat="post in user.posts | filter:search">
         <div ng-hide="post.editForm">
            <div class="card fade">
                <div class="card-date">{{post.created_at | date: 'MMMM d @ h:mma'}}</div>

                <h3>{{post.title}}</h3>
                <p>{{post.body}}</p>
                <a href="#" class="pull-right">
                  <i class="ion-edit" style="float: right" ng-click="post.editForm = true"></i>
                </a>
            </div>
         </div>
         <div class="card">
          <form ng-show="post.editForm" ng-submit="updatePost(post)">
         
            <div class="form-group">
              <input type="text" ng-model="post.title" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" ng-model="post.body" class="form-control">
            </div>
            <input type="submit" value="Update" class="btn btn-default">
            </div>
          </form>
         </div> -->

      </div>
     
    </div>    
                         
    <div class="col-sm-6" ng-controller="NotesCtrl">
     
        <div class="card">
        <div id="tabs" ng-controller="UsersCtrl">
                <ul class="tabs">
                    <li ng-repeat="tab in tabs" 
                        ng-class="{active:isActiveTab(tab.url)}" 
                        ng-click="onClickTab(tab)">{{tab.title}}</li>
                </ul>
                <div id="mainView">
                    <div ng-include="currentTab"></div>
                </div>
            </div>
            <script type="text/ng-template" id="one.tpl.html">
            <div id="viewOne">
              <div id="note-form">
                <form ng-submit="createNote(user)">
                  <div class="form-group">
                    <label for="note">Content</label>
                    <textarea class="form-control" ng-model="note.body" contenteditable='true' spellcheck='false' required="true"></textarea>
                  </div>
                  <button class="btn btn-social"><i class="ion-plus" type="submit"></i></button>
                 <!--  <button type="submit" class="btn btn-social">Save</button> -->
                </form>
              </div>
            </script>
          
            <script type="text/ng-template" id="two.tpl.html">
              <div id="viewTwo">
                <div id="post-form">
                    <form ng-submit="createPost(user)">
                      <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" ng-model="post.title" required="true">
                      </div>

                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" ng-model="post.body" required="true"></textarea>
                      </div>
  
                      <button class="btn btn-social"><i class="ion-plus" type="submit"></i></button>
                    </form>
                </div>
              </div>
             </script>
          
            <script type="text/ng-template" id="three.tpl.html">
              <div id="viewThree">
                <div id="event-form">
                  
                <form ng-submit="createEvent(user)">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" ng-model="event.title" required="true">
                  </div>

                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" ng-model="event.description" required="true"></textarea>
                  </div>
                  
                  <div class="form-group">
                    <label for="title">Date</label>
                    <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                    <input ng-model="event.date" type="text" class="form-control" required="true"/>
                    </datepicker>
                    <!-- <input type="text" datetimepicker class="form-control" ng-model="event.date"></textarea> -->
                  </div>

                  <div class="form-group">
                    <label for="title">Location</label>
                    <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="event.location" class='form-control' required="true">
                  </div>

                  <button class="btn btn-social"><i class="ion-plus" type="submit"></i></button>
                </form>
              </div>
            </script>
        <!--   </div> -->

         <!-- <div id="note-form" class="row hidden-xs">
           <form ng-submit="createNote(user)">
             <div class="form-group">
               <label for="note">Note</label>
               <textarea class="form-control" ng-model="note.body" contenteditable='true' spellcheck='false'></textarea>
             </div>
             <button type="submit" class="btn btn-default">Save</button>
           </form>
         </div> -->
     </div>                     
    


     <div ng-repeat="note in user.notes | filter:search">
       <!-- <div class="col-sm-12 card fade">
     
           <div class="card-date">{{note.created_at | date: 'MMMM d @ h:mma'}}</div>
           <div ng-init="limit = 140; moreShown = false">
           <p>{{note.body | limitTo: limit}}
           <a ng-show="note.body.length > limit"
            href ng-click="limit=note.body.length; moreShown = true">  More
           </a> -->
           <!-- <a ng-show="moreShown = true" href ng-click="limit = 140; moreShown = false"> Less 
           </a> -->
           <!-- <a class="btn pull-right" ng-show="note.body.length > limit" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!show.more]" ng-click="show.more = !show.more" ; ng-click="limit=note.body.length">{{!show.more && 'More' || 'Less'}} </a> -->

          <!--  </p>
           </div>
        </div> -->
        <div class="col-sm-11 card fade" id="{{note.color}}">
          <div ng-hide="note.editForm">
                <!--  <i class="fa fa-close pull-right" ng-click="deleteNote(note)"></i> -->
              <div class="card-date">{{note.created_at | date: 'MMMM d @ h:mma'}}</div>
             <!--  <div ng-init="limit = 140; moreShown = false"> -->
              <p>{{note.body}}
             <!--  <a ng-show="note.body.length > limit" href ng-click="limit = note.body.length; moreShown = true">More</a> -->
          <!--     <a href="#" class="pull-right">
                <i class="ion-more" style="float: right" ng-click="note.editForm = true"></i>
              </a> -->
             <!--  <a ng-hide="note.body.length > limit" href ng-click="limit = 140; moreShown = false"> Less </a> -->
              </p>
               <div style="float:right">
               <svg height="14" width="14" value="default" ng-model="note.color" ng-click="test(note, 'default')">
               <rect x="2" y="2" height="10" width="10" fill="rgba(242,239,235, 1)" stroke="#000" stroke-width="2"></rect>
               </svg>
               <svg height="14" width="14" value="blue" ng-model="note.color" ng-click="test(note, 'blue')">
               <rect x="2" y="2" height="10" width="10" fill="rgba(169,216,200,1)" stroke="#000" stroke-width="2"></rect>
               </svg>
               <svg height="14" width="14" value="yellow" ng-model="note.color" ng-click="test(note, 'yellow')">
               <rect x="2" y="2" height="10" width="10" fill="rgba(250,215,123,1)" stroke="#000" stroke-width="2"></rect>
               </svg>
               <svg height="14" width="14" value="red" ng-model="note.color" ng-click="test(note, 'red')">
               <rect x="2" y="2" height="10" width="10" fill="rgba(237,73,86,1)" stroke="#000" stroke-width="2"></rect>
               </svg>

               <svg height="14" width="14" ng-click="note.editForm = true">
               <rect x="2" y="2" height="10" width="10" fill="rgba(0,0,0,1)" stroke="#000" stroke-width="2"></rect>
              <!--  <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line> -->
               </svg>
               </div>
               <button class="btn btn-social" ng-click="noteShow(note)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
               </button>
          </div>


            <form ng-show="note.editForm" ng-submit="updateNote(note)">
              <div class="form-group">
                <input type="text" ng-model="note.body" class="form-control">
              </div>
              <input type="submit" value="Update" class="btn btn-default">
            </form>

          
        </div>
     </div>                          
    </div>
  </div>
       
    <div class="col-sm-3">
      <ng-map center="current-location" zoom="9" class="dashboardmap hidden-xs" styles="[{stylers:[{hue:'#e0efef'},{visibility:'on'}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#000000'},{lightness:'30'}]}]">
         <transit-layer></transit-layer>
        <!--  <traffic-layer></traffic-layer> -->
         <marker ng-repeat="event in user.events" position="{{event.location.formatted_address}}">
         </marker>
      </ng-map>
      <div ng-repeat="event in user.events | filter:search">
        <div class="card fade" id="{{event.color}}">
          <div ng-hide="event.editForm">
            <div class="card-date">{{event.date | date: 'EEE MMMM d @ hh:mma'}}</div>
            <h3>{{event.title}}</h3>
            <p>{{event.description}}</p>
            <p>{{event.location.formatted_address}}</p>
             <div style="float:right">
             <svg height="14" width="14" value="default" ng-model="event.color" ng-click="test(event, 'default')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(242,239,235, 1)" stroke="rgba(242,239,235, 1)" stroke-width="2"></rect>
             </svg>
             <svg height="14" width="14" value="blue" ng-model="event.color" ng-click="test(event, 'blue')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(169,216,200,1)" stroke="rgba(169,216,200,1)" stroke-width="2"></rect>
             </svg>
             <svg height="14" width="14" value="yellow" ng-model="event.color" ng-click="test(event, 'yellow')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(250,215,123,1)" stroke="rgba(250,215,123,1)" stroke-width="2"></rect>
             </svg>
             <svg height="14" width="14" value="red" ng-model="event.color" ng-click="test(event, 'red')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(237,73,86,1)" stroke="rgba(237,73,86,1)" stroke-width="2"></rect>
             </svg>

             <svg height="14" width="14" ng-click="event.editForm = true">
             <rect x="2" y="2" height="10" width="10" fill="rgba(0,0,0,1)" stroke="#000" stroke-width="2"></rect>
             <line y2="2" x2="12" y1="12" x1="2" stroke-width="1.2" stroke="#fff"></line>
             </svg>

             <button class="btn btn-social" ng-click="eventShow(event)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
             </button>

             </div>
            <!-- <a href="#" class="pull-right">
                <i class="ion-more" style="float: right" ng-click="event.editForm = true"></i>
            </a> -->
          </div>

          <form ng-show="event.editForm" ng-submit="updateEvent(event)">
              <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" ng-model="event.title" required="true">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" ng-model="event.description"></textarea>
              </div>
              <div class="form-group">
                <label for="title">Date</label>
                <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                <input ng-model="event.date" type="text" class="form-control"/>
                </datepicker>
              </div>
              <div class="form-group">
                <label for="title">Location</label>
                <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="event.location" class='form-control'>
              </div>
              <input type="submit" value="Update" class="btn btn-default">
            </form>

        </div>
      </div>
    </div>
                       
                     
 </div>

</div>

