<div class="container">
    <div class="col-sm-3">
    <h1>TOTAL EVENTS</h1>
    <h1>{{user.events.length}}</h1>
      <ng-map center="current-location" zoom="10" class="map hidden-xs" styles="[{stylers:[{hue:'#e0efef'},{visibility:'on'}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#7dcdcd'}]}]">
         <transit-layer></transit-layer>
         <traffic-layer></traffic-layer>
         <marker ng-repeat="event in user.events" position="{{event.location.formatted_address}}">
         </marker>
      </ng-map>
    </div>
    <div class="col-sm-9">
     <!--  <div class="page-header">
        <h4>Events</h4><p>User ID: {{user._id}}</p> <p>Total Events: {{user.events.length}}</p> 
      </div> -->
      <!-- FORM TO CREATE EVENTS -->
      <div id="event-form" class="row">
        
      <form ng-submit="createEvent(user)">
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" type="text" ng-model="event.title" required="true">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" ng-model="event.description"></textarea>
        </div>

        <div class="form-group">
          <label for="title">Location</label>
          <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="event.location" class='form-control'>
        </div>

        <div class="form-group">
          <label for="title">Date</label>
  
          <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
          <input ng-model="event.date" type="text" class="form-control"/>
          </datepicker>
          <!-- <input type="text" datetimepicker class="form-control" ng-model="event.date"></textarea> -->
        </div>
      
  
        <button type="submit">Save</button>
      </form>
        

     <!-- 
      <div ng-repeat="post in posts | orderBy:'-created_at'"> -->
      <div ng-repeat="event in user.events | orderBy:'-created_at'">
        <div class="col-sm-3 card fade">
         <div ng-hide="event.editForm">
            <!-- <svg width="6" height="6" class="close-btn" ng-click="deleteEvent(event)">
                <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
                <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="0.8" stroke="#fff"></line>
            </svg>     -->
            <i class="fa fa-close pull-right" ng-click="deleteEvent(event)"></i>
            <div class="card-date">{{event.date | date: 'EEE MMMM d @ hh:mma'}}</div>
            <!-- <div class="card-date">{{post.created_at | date: 'MMMM d'}}</div> -->
            <h3>{{event.title}}</h3>
            <p>{{event.description}}</p>
            <p>{{event.location.formatted_address}}</p>
            <a href="#" class="pull-right">
                <i class="ion-edit" style="float: right" ng-click="event.editForm = true"></i>
            </a>
         </div>
       

        <form ng-show="event.editForm" ng-submit="updateEvent(event)">
            <div class="form-group">
              <label for="title">Title</label>
              <input class="form-control" type="text" ng-model="event.title" required="true">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" ng-model="event.description"></textarea>
            </div>
            <div class="form-group">
              <label for="title">Location</label>
              <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="event.location" class='form-control'>
            </div>
            <div class="form-group">
              <label for="title">Date</label>
              <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
              <input ng-model="event.date" type="text" class="form-control"/>
              </datepicker>
            </div>
            <input type="submit" value="Update" class="btn btn-default">
          </form>

      </div>
    </div>
  </div>

</div>
