<div class="container">
  <div class="col-sm-3">
<!--   <ng-map center="current-location" zoom="9" class="dashboardmap hidden-xs" styles="[{stylers:[{hue:'#e0efef'},{visibility:'on'}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#000000'},{lightness:'30'}]}]">
     <transit-layer></transit-layer>
     <marker position="{{event.location.formatted_address}}">
     <directions
               draggable="true"
               panel="directions-panel"
               travel-mode="DRIVING"
               origin="current-location"
               destination="{{event.location.formatted_address}}}">
             </directions>
     </marker>

  </ng-map> -->

    <div class="card" id={{event.color}}>
      <div ng-hide="event.editForm">
        <div class="card-date">{{event.date | date: 'EEE MMM d @ hh:mma'}}</div>
        <button type="button" class="close" ng-click="backButton()" aria-label="Close">
        <i class='icon ion-arrow-return-left custom-icon'></i>
        </button>
          <h3>{{event.title}}</h3>
          <p>{{event.description}}</p>
          <p>{{event.location.formatted_address}}</p>
          <div style="float:right">
          <svg height="14" width="14" value="default" ng-model="event.color" ng-click="eventColor(event, 'default')">
          <rect x="2" y="2" height="10" width="10" fill="rgba(242,239,235, 1)" stroke="#000" stroke-width="2"></rect>
          </svg>
          <svg height="14" width="14" value="blue" ng-model="event.color" ng-click="eventColor(event, 'blue')">
          <rect x="2" y="2" height="10" width="10" fill="rgba(169,216,200,1)" stroke="#000" stroke-width="2"></rect>
          </svg>
          <svg height="14" width="14" value="yellow" ng-model="event.color" ng-click="eventColor(event, 'yellow')">
          <rect x="2" y="2" height="10" width="10" fill="rgba(250,215,123,1)" stroke="#000" stroke-width="2"></rect>
          </svg>
          <svg height="14" width="14" value="red" ng-model="event.color" ng-click="eventColor(event, 'red')">
          <rect x="2" y="2" height="10" width="10" fill="rgba(247,73,86,1)" stroke="#000" stroke-width="2"></rect>
          </svg>
          <svg height="14" width="14" ng-click="event.editForm = true">
          <rect x="2" y="2" height="10" width="10" fill="rgba(0,0,0,1)" stroke="#000" stroke-width="2"></rect>
          <line y2="2" x2="12" y1="12" x1="2" stroke-width="1.2" stroke="#fff"></line>
          </svg>
          </div>
      </div>
 
    <form ng-show="event.editForm" ng-submit="updateEvent(event)">
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" type="text" ng-model="event.title" required="true">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" ng-model="event.description"></textarea>
        </div>
        <div class="form-group">
          <label for="title">Date</label>
          <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="MMM d, y h:mm a">
          <input ng-model="event.date" type="text" class="form-control"/>
          </datepicker>
        </div>
        <div class="form-group">
          <label for="title">Location</label>
          <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="event.location" class='form-control'>
        </div>
        <input type="submit" value="Update" class="btn btn-social">
      </form>
  </div>

        <div class="card" id="directions-panel">
          </div>
  </div>
  
  <div class="col-sm-9">
   
    <ng-map center="current-location" zoom="9" class="showmap" styles="[{stylers:[{hue:'#e0efef'},{visibility:'on'}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#000000'},{lightness:'30'}]}]">
       <transit-layer></transit-layer>
       <traffic-layer></traffic-layer>
       <marker position="{{event.location.formatted_address}}">
       <directions
                 draggable="true"
                 panel="directions-panel"
                 travel-mode="DRIVING"
                 origin="current-location"
                 destination="{{event.location.formatted_address}}}">
               </directions>
       </marker>

    </ng-map>
    <div class="card fade">
    <div id="comment-form">
      <form ng-submit="createComment(event, user)">
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" ng-model="comment.body"></textarea>
        </div>
          <button class="btn btn-social"><i class="ion-plus" type="submit"></i></button>
      </form>
    </div>
 <!--      <div id="tabs">
            <ul class="tabs">
                <li ng-repeat="tab in tabs" 
                    ng-class="{active:isActiveTab(tab.url)}" 
                    ng-click="onClickTab(tab)">{{tab.title}}</li>
            </ul>
            <div id="mainView">
                <div ng-include="currentTab">
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="comment.tpl.html">
          <div id="viewOne">
            <div id="comment-form">
              <form ng-submit="createComment(event, user)">
                <div class="form-group">
                  <label for="comment">Comment</label>
                  <textarea class="form-control" ng-model="comment.body"></textarea>
                </div>
                  <button class="btn btn-social"><i class="ion-plus" type="submit"></i></button>
              </form>
            </div>
          </div>
        </script> -->
      
       <!--  <script type="text/ng-template" id="map.tpl.html">
          <div id="viewTwo">
      
            <ng-map center="current-location" zoom="9" class="map" styles="[{stylers:[{hue:'#e0efef'},{visibility:'on'}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#000000'},{lightness:'30'}]}]">
               <transit-layer></transit-layer>
               <marker position="{{event.location.formatted_address}}">
               <directions
                         draggable="true"
                         panel="directions-panel"
                         travel-mode="DRIVING"
                         origin="current-location"
                         destination="{{event.location.formatted_address}}}">
                       </directions>
               </marker>

            </ng-map>
             <div class="card" id="directions-panel">
               </div>
          
          </div>
         </script> -->
      

      </div>

  <!-- 	<div class="card">
  	<div id="comment-form">
  	  <form ng-submit="createComment(event, user)">
  	    <div class="form-group">
  	      <label for="comment">Comment</label>
  	      <textarea class="form-control" ng-model="comment.body"></textarea>
  	    </div>
  	      <button class="btn btn-social"><i class="ion-plus" type="submit"></i></button>
  	  </form>
  	</div>
  	</div> -->

  	<div ng-repeat="comment in event.comments | filter:search">
  	  <div class="col-sm-3 card" id="{{comment.color}}">
  	    <div ng-hide="comment.editForm">
  	      <svg width="8" height="8" class="close-btn" ng-click="deleteComment(comment)">
  	          <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
  	          <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="0.8" stroke="#fff"></line>
  	      </svg>  
  	      <div class="card-date">{{comment.updated_at | date: 'MMM d @ h:mma'}}</div>
  	      <p>{{comment.body}}</p>
  	     <!--  <p>{{comment.userId.displayName}}</p>
 -->
  	        <div style="float:right">
  	        <svg height="14" width="14" value="default" ng-model="comment.color" ng-click="commentColor(comment, 'default')">
  	        <rect x="2" y="2" height="10" width="10" fill="rgba(242,239,235, 1)" stroke="#000" stroke-width="2"></rect>
  	        </svg>
  	        <svg height="14" width="14" value="blue" ng-model="comment.color" ng-click="commentColor(comment, 'blue')">
  	        <rect x="2" y="2" height="10" width="10" fill="rgba(169,216,200,1)" stroke="#000" stroke-width="2"></rect>
  	        </svg>
  	        <svg height="14" width="14" value="yellow" ng-model="comment.color" ng-click="commentColor(comment, 'yellow')">
  	        <rect x="2" y="2" height="10" width="10" fill="rgba(250,215,123,1)" stroke="#000" stroke-width="2"></rect>
  	        </svg>
  	        <svg height="14" width="14" value="red" ng-model="comment.color" ng-click="commentColor(comment, 'red')">
  	        <rect x="2" y="2" height="10" width="10" fill="rgba(247,73,86,1)" stroke="#000" stroke-width="2"></rect>
  	        </svg>
  	        <svg height="14" width="14" ng-click="comment.editForm = true">
  	        <rect x="2" y="2" height="10" width="10" fill="rgba(0,0,0,1)" stroke="#000" stroke-width="2"></rect>
  	        <line y2="2" x2="12" y1="12" x1="2" stroke-width="1.2" stroke="#fff"></line>
  	        </svg>
  	        </div>

  	      </div>
  	 
  	      <form ng-show="comment.editForm" ng-submit="updateComment(comment)">
  	        <div class="form-group">
  	          <input type="text" ng-model="comment.body" class="form-control">
  	        </div>
  	        <input type="submit" value="Update" class="btn btn-social">
  	      </form>
  	    </div>

</div>