<div class="container">

  <div class="col-sm-3">
    <h1>TOTAL NOTES</h1>
    <h1>{{user.notes.length}}</h1>
  </div>

  <div class="col-sm-9">
    <div class="card">
    <div id="note-form">
      <form ng-submit="createNote(user)">
        <div class="form-group">
          <label for="note">Note</label>
          <textarea class="form-control" ng-model="note.body"></textarea>
        </div>
          <button type="submit" class="btn btn-social">Save</button>
      </form>
    </div>
    </div>
    
   
    <div ng-repeat="note in user.notes">
      <div class="col-sm-3 card fade" ng-class="none">
        <div ng-hide="note.editForm">
            <i class="fa fa-close pull-right" ng-click="deleteNote(note)"></i>
           <!--  <svg width="6" height="6" class="close-btn" ng-click="deleteNote(note)">
                <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
                <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="0.8" stroke="#fff"></line>
            </svg>   -->
            <div class="card-date">{{note.created_at | date: 'MMMM d @ h:mma'}}</div>
           <!--  <div ng-init="limit = 140; moreShown = false"> -->
            <p>{{note.body}}
           <!--  <a ng-show="note.body.length > limit" href ng-click="limit = note.body.length; moreShown = true">More</a> -->
            <a href="#" class="pull-right">
              <i class="ion-edit" ng-click="note.editForm = true"></i>
            </a>
           <!--  <a ng-hide="note.body.length > limit" href ng-click="limit = 140; moreShown = false"> Less </a> -->
            </p>
        </div>


          <form ng-show="note.editForm" ng-submit="updateNote(note)">
            <div class="form-group">
              <input type="text" ng-model="note.body" class="form-control">
            </div>
            <input type="submit" value="Update" class="btn btn-default">
          </form>

        
      </div>
    </div>

  </div>
</div>



<!-- <div ng-repeat="note in user.notes">
        <div class="col-sm-3 card fade" ng-class="none">
          <div ng-hide="note.editForm">
              <svg width="10" height="10" class="close-btn" ng-click="deleteNote(note)">
                  <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
                  <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="0.8" stroke="#fff"></line>
              </svg>   -->
            <!-- <i class="fa fa-close pull-right" ng-click="deletePost(post)"></i> -->
           <!--  <div class="card-date">{{note.created_at | date: 'MMMM d @ h:mma'}}</div>
            <div ng-init="limit = 140; moreShown = false">
            <p>{{note.body}}</p>
            <a ng-show="note.body.length > limit" href ng-click="limit = note.body.length; moreShown = true">More</a>
            </div>
            <a href="#" class="pull-right">
              <i class="ion-edit" style="float: right" ng-click="note.editForm = true"></i>
            </a>
          </div>

            <form ng-show="note.editForm" ng-submit="updateNote(note)">
              <div class="form-group">
                <input type="text" ng-model="note.title" class="form-control">
              </div>
              <div class="form-group">
                <textarea class="form-control" ng-model="note.body" class="form-control">
              </div>
              <input type="submit" value="Update" class="btn btn-default">
            </form>
        </div>
      </div>
</div>
 -->