<div class="container">
    <div class="col-sm-3">
    <h1>TOTAL NOTES</h1>
    <h1>{{user.notes.length}}</h1>
    </div>
    <div class="col-sm-9">
  
      <div id="note-form" class="row">
        
      <form ng-submit="createNote(user)">
        <div class="form-group">
          <label for="note">Note</label>
          <textarea class="form-control" ng-model="note.body"></textarea>
        </div>

        

        <button type="submit">Save</button>
      </form>
   
      <div ng-repeat="note in user.notes">
        <div class="col-sm-3 card fade" ng-class="none">
              <svg width="10" height="10" class="close-btn" ng-click="deleteNote(note)">
                  <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
                  <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="0.8" stroke="#fff"></line>
              </svg>  
     
            <div class="card-date">{{note.created_at | date: 'MMMM d @ h:mma'}}</div>
            <div ng-init="limit = 140; moreShown = false">
            <p>{{note.body | limitTo: limit}}
            <a ng-show="note.body.length > limit" href ng-click="limit = note.body.length; moreShown = true">More</a>
            <a ng-hide="note.body.length > limit" href ng-click="limit = 140; moreShown = false"> Less </a>
            </p>
      </div>
    </div>
  </div>
<a href="#" class="scrollup" style="outline: none; display: inline;"><i class="fa fa-chevron-up scrollup"></i></a>
</div>


