<div class="container">
  
  <div class="col-sm-3">
    <h1 class="fade">TOTAL NOTES</h1>
    <h1 class="fade">{{user.notes.length}}</h1>
  </div>

  <div class="col-sm-9">
    <div class="card fade">
    <div id="note-form">
      <form ng-submit="createNote(user)">

        <div class="form-group">
          <label for="note">Content</label>
          <textarea class="form-control" ng-model="note.body"></textarea>
        </div>
          <button class="btn btn-social"><i class="ion-plus" type="submit"></i></button>
      </form>
    </div>
    </div>
    
    <div ng-repeat="note in user.notes">
      <div class="col-sm-3 card " id="{{note.color}}">
        <div ng-hide="note.editForm">
           <!--  <i class="fa fa-close pull-right" ng-click="deleteNote(note)"></i> -->
            <svg width="10" height="10" class="close-btn" ng-click="deleteNote(note)">
                <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="1" stroke="#fff"></line>
                <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="1" stroke="#fff"></line>
            </svg>  
            <div class="card-date">{{note.updated_at | date: 'MMM d @ h:mma'}}</div>
            <div id="ribbon">
                <div ng-show="note.comments.length>0" ng-click="noteShow(note)">{{note.comments.length}}</div>
            </div>
            <i class="ion-plus" style="float:right" ng-click="noteShow(note)"></i>
          <!--   <div ng-init="limit = 140; moreShown = false"> -->
            <p>{{note.body}}</p>
           <!--  <a ng-show="note.body.length > limit" href ng-click="limit = note.body.length; moreShown = true">More</a> -->
              

             <div style="float:right">
             <svg height="14" width="14" value="default" ng-model="note.color" ng-click="test(note, 'default')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(242,239,235, 1)" stroke="#000" stroke-width="2"></rect>
             </svg>
             <svg height="14" width="14" value="blue" ng-model="note.color" ng-click="test(note, 'blue')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(169,216,200,1)" stroke="#000" stroke-width="2"></rect>
             </svg>
             <svg height="14" width="14" value="yellow" ng-model="note.color" ng-click="test(note, 'yellow')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(250,215,123,1)" stroke="#000" stroke-width="2"></rect>
             </svg>
             <svg height="14" width="14" value="red" ng-model="note.color" ng-click="test(note, 'red')">
             <rect x="2" y="2" height="10" width="10" fill="rgba(247,73,86,1)" stroke="#000" stroke-width="2"></rect>
             </svg>

             <svg height="14" width="14" ng-click="note.editForm = true">
             <rect x="2" y="2" height="10" width="10" fill="rgba(0,0,0,1)" stroke="#000" stroke-width="2"></rect>
             <line y2="2" x2="12" y1="12" x1="2" stroke-width="1.2" stroke="#fff"></line>
             </svg>
             </div>
           <!--  <a ng-hide="note.body.length > limit" href ng-click="limit = 140; moreShown = false"> Less </a> -->
         
        </div>


          <form ng-show="note.editForm" ng-submit="updateNote(note)">
            <div class="form-group">
              <input type="text" ng-model="note.body" class="form-control">
            </div>
            
            <!-- <button class="btn btn-social"><svg width="8" height="8" type="submit">
                <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
            </svg>  </button>
            <input type="submit" value="Update" class="btn btn-default"> -->
            <input type="submit" value="Update" class="btn btn-social">
          </form>

        
      </div>
    </div>

  </div>
</div>



<!-- <div ng-repeat="note in user.notes">
        <div class="col-sm-3 card fade" ng-class="none">
          <div ng-hide="note.editForm">
              <svg width="10" height="10" class="close-btn" ng-click="deleteNote(note)">
                  <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
                  <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="0.8" stroke="#fff"></line>
              </svg>   -->
            <!-- <i class="fa fa-close pull-right" ng-click="deletePost(post)"></i> -->
           <!--  <div class="card-date">{{note.created_at | date: 'MMMM d @ h:mma'}}</div>
            <div ng-init="limit = 140; moreShown = false">
            <p>{{note.body}}</p>
            <a ng-show="note.body.length > limit" href ng-click="limit = note.body.length; moreShown = true">More</a>
            </div>
            <a href="#" class="pull-right">
              <i class="ion-edit" style="float: right" ng-click="note.editForm = true"></i>
            </a>
          </div>

            <form ng-show="note.editForm" ng-submit="updateNote(note)">
              <div class="form-group">
                <input type="text" ng-model="note.title" class="form-control">
              </div>
              <div class="form-group">
                <textarea class="form-control" ng-model="note.body" class="form-control">
              </div>
              <input type="submit" value="Update" class="btn btn-default">
            </form>
        </div>
      </div>
</div>
 -->