<div class="container">
    <div class="col-sm-3">
    <h1>TOTAL TASKS</h1>
    <h1>{{user.posts.length}}</h1>
    </div>
    <div class="col-sm-9">
   <!--    <div class="page-header"> -->
       <!--  <h4>Posts</h4><p>User ID: {{user._id}}</p> <p>Total Posts: {{user.posts.length}}</p> -->
    <!--   </div> -->
      <!-- FORM TO CREATE POSTS -->
      <div id="post-form" class="row">
        
      <form ng-submit="createPost(user)">
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" type="text" ng-model="post.title" required="true">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" ng-model="post.body" required="true"></textarea>
        </div>

  
        <button type="submit">Save</button>
      </form>
      
     <!-- 
      <div ng-repeat="post in posts | orderBy:'-created_at'"> -->
      <div ng-repeat="post in user.posts">
        <div class="col-sm-3 card fade" ng-class="none">
              <svg width="10" height="10" class="close-btn" ng-click="deletePost(post)">
                  <line y2="100%" x2="0" y1="0" x1="100%" stroke-width="0.8" stroke="#fff"></line>
                  <line y2="100%" x2="100%" y1="0%" x1="0%" stroke-width="0.8" stroke="#fff"></line>
              </svg>  
          <!--   <i class="fa fa-close pull-right" ng-click="deletePost(post)"></i> -->
            <div class="card-date">{{post.created_at | date: 'MMMM d @ h:mma'}}</div>
            <!-- <div class="card-date">{{post.created_at | date: 'MMMM d'}}</div> -->
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
            <!-- <p>POST ID: {{post._id}}</p>
            <p>User: {{post.userId}}</p>
            <p>Start: {{post.start}}</p>
            <p>Done: {{post.done}}</p>

          
      
            <button ng-click="start()">start</button> 
            <button ng-click="done()">done</button> -->


        </div>
      </div>
    </div>
  </div>
<a href="#" class="scrollup" style="outline: none; display: inline;"><i class="fa fa-chevron-up scrollup"></i></a>
</div>
