<!-- 
<div class="container">

<div class='clock'>
  <div class='hour'></div>
  <div class='minutes'></div>
  <div class='seconds'></div>
</div>
 
  <div class="row">
    <div class="col-sm-3">
 -->
      <!-- <h4>Welcome {{user.first}} {{user.last}} {{user.email}}</h4>
      <label for="Search">Search</label>
      <input type="text" ng-model="search" class="form-control"> -->
<!-- 
      <div ng-repeat="post in user.posts | filter:search">
          <div class="card fade">
              <div class="card-date">{{post.created_at | date: 'MMMM d @ h:mma'}}</div>
              <h3>{{post.title}}</h3>
              <p>{{post.body}}</p>
          </div>
        </div>
    </div>    
    
      
      <div class="col-sm-6">
        <div class="card">
          <img src="{{user.picture}}" alt="">
          <h4 >{{user.displayName}}</h4>
        </div>

        <div class="card">
        <pre class='code' contenteditable='true' spellcheck='false'><span></span></pre>
        </div>
      </div>
      <div class="col-sm-3">
        <div ng-repeat="event in user.events | filter:search">
          <div class="card fade">
              <div class="card-date">{{event.date | date: 'EEE MMMM d @ hh:mma'}}</div>
              <h3>{{event.title}}</h3>
              <p>{{event.description}}</p>
              <p>{{event.location.formatted_address}}</p>
          </div>
        </div>
      </div>
    </div>
</div> -->

<div class="container">

  <div class="row">
    <div class="col-sm-3">
       <div class="card">
          <img src="{{user.picture}}" alt="">
          <h4>{{user.displayName}}</h4>
       </div>
       <div sticky sticky-class="imSoSticky" class="heightAuto">
     <!--  
        <label for="Search">Search</label>
        <input type="text" ng-model="search" class="form-control"> -->
        <ul class="nav hidden-xs" id="lg-menu">
            <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
            <li><a href="/notes"><i class="ion-document-text"></i> Notes<span class="badge">{{user.notes.length}}</span></a></li>
            <li><a href="/posts"><i class="ion-clipboard"></i> Tasks<span class="badge">{{user.posts.length}}</span></a></li>
            <li><a href="/events"><i class="ion-calendar"></i> Events<span class="badge">{{user.events.length}}</span></a></li>
        </ul>
         <div class="search">
        <label for="Search">Search</label>
        <input type="text" ng-model="search" class="form-control">
        </div>
       </div>
      <div ng-repeat="post in user.posts | filter:search">
          <div class="card fade">
              <div class="card-date">{{post.created_at | date: 'MMMM d @ h:mma'}}</div>

              <h3>{{post.title}}</h3>
              <p>{{post.body}}</p>
          </div>
      </div>
    </div>    
                         
    <div class="col-sm-6" ng-controller="NotesCtrl">
      <div class="col-sm-12">
         <div id="note-form" class="row">
           <form ng-submit="createNote(user)">
             <div class="form-group">
               <label for="note">Note</label>
               <textarea class="form-control" ng-model="note.body" contenteditable='true' spellcheck='false'></textarea>
             </div>
             <button type="submit">Save</button>
           </form>
         </div>
     </div>                     
    

     <div ng-repeat="note in user.notes | filter:search">
       <div class="col-sm-5 card fade" ng-class="none">
     
           <div class="card-date">{{note.created_at | date: 'MMMM d @ h:mma'}}</div>
           <div ng-init="limit = 140; moreShown = false">
           <p>{{note.body | limitTo: limit}}
           <a ng-show="note.body.length > limit"
            href ng-click="limit=note.body.length; moreShown = true">  More
           </a>
     
           <a ng-show="note.body.length = limit" href ng-click="limit = 140; moreShown = false"> Less 
           </a>
           </p>
           </div>
        </div>
     </div>                          
    </div>

    <div class="col-sm-3">
      <ng-map center="current-location" zoom="13">
         <transit-layer></transit-layer>
         <traffic-layer></traffic-layer>
         <marker ng-repeat="event in user.events" position="{{event.location.formatted_address}}">
         </marker>
      </ng-map>
      <div ng-repeat="event in user.events | filter:search">
        <div class="card fade">
            <div class="card-date">{{event.date | date: 'EEE MMMM d @ hh:mma'}}</div>
            <h3>{{event.title}}</h3>
            <p>{{event.description}}</p>
            <p>{{event.location.formatted_address}}</p>
        </div>
      </div>
    </div>
                       
                     
 </div>
 <hr>
 
 <h4 class="text-center">
  <p>SDLKJFKLDSJFLKJSDLFJKLDSFJLKD:SFJLKSDJFL SOME TEXT</p>
 </h4>
   
 <hr>   
</div>


