<div class="overlay">

 
<!-- 
  <div class='back'>
  <div class='background'></div> -->
<!--   <div class='midground'></div> -->
 <!--  <div class='foreground'></div>  -->
<!--   </div> -->
        
        <div class="center">
          
          <div class="content">
            
            <div class="neon" data-toggle="modal" data-target="#login-modal">
             PE<br/>CK<br/>
            </div>
            <h1>{{location.city}}</h1>
            
<!--        
            <div class='shadow'></div> -->
          </div>
      </div>

          
</div>
