<div class="overlay">

 <div id="particles-js"></div>  

<!--   <div class='back'>
  <div class='background'></div> -->
<!--   <div class='midground'></div> -->
 <!--  <div class='foreground'></div>  -->
<!--   </div> -->
<!-- <div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="/img/Out.webm" type="video/webm">
        <source src="/img/Out.mp4" type="video/mp4">
        <source src="/img/Out.ogv" type="video/ogg">
    </video>
</div>
  -->
        <div class="center">
          
          <div class="content">
         
            
   
            <div class="splashname"><h2 ng-show="currentUser">Hi, {{user.displayName}}</h2></div>
         <!--    <ul ticker timing="3000">
              <li ng-repeat="new in news">
                {{new.title}}
              </li>
            </ul>
              <div ng-repeat="new in news">
                <p>{{new.title}}</p>
                <p>{{new.abstract}}</p>
              </div> -->
            <div class="neon" data-toggle="modal" data-target="#login-modal" ng-show="!currentUser">
             PE<br/>CK<br/>
            </div>
            <div class="splashname"><h2 ng-show="currentUser"> <time>TICK, TOCK.</time></h2></div>
           <!--  <h1 ng-show="currentUser">{{weather.name}}</h1>
            <h1 ng-show="currentUser">{{weather.weather[0].description}} </h1>
            <h1 ng-show="currentUser">{{weather.main.temp}}</h1> -->
       
          <!--   <div class='shadow' ng-show="!currentUser"></div> -->
          </div>
          <div ng-show="currentUser">
              <ul ticker timing="5000">
                <li ng-repeat="new in elements | limitTo:20">
                  <div>
                      <a href="{{new.url}}" target="#">
                      {{new.title}}
                   <!--    <img ng-src="{{new.thumbnail_standard}}" alt="Description"/> -->
                      </a>
                  </div>
                </li>
              </ul>
          </div>
          <div ng-show="currentUser">
              <ul ticker timing="5000">
                <li ng-repeat="new in news | limitTo:20">
                  <div>
                      <a href="{{new.url}}" target="#">
                      {{new.title}}
                   <!--    <img ng-src="{{new.thumbnail_standard}}" alt="Description"/> -->
                      </a>
                  </div>
                </li>
              </ul>
          </div>        
         
      </div>

          
</div>
